body {
	font-family: Arial;
	font-size: 10pt;
	/*padding-left: 100px;*/
	text-align: center;
	background-color: #F8F8F8 ;
	/* background-image: url("/img/background.gif"); */
}

h1 {
	font-size: 12px;
}

.ui-datepicker-calendar {
	display: none;
}

.owlc-item {
	color: #666;
	padding-top: 3px;
	font-size: 12px
}

.owlc-item-lite {
	color: #999;
	padding-top: 3px;
	font-size: 12px
}

.owlc-item-small {
	color: #999;
	font-size: 11px
}

.no-items {
	color: #ccc;
	position: relative;
	top: 110px;
	left: 330px;
	font-size: 16px;
	font-weight: bold;
	z-index: 1000 !important;
}

.no-items-small {
	font-size: 12px;
	color: #ccc;
	position: relative;
	top: 0px;
	right: 60px;
	z-index: 1000 !important;
}

.owl-nav, .owl-dots {
	position: relative;
	bottom: 10px;
}

.owl-item {
	-moz-box-shadow: 10px 10px 5px #ccc;
	-webkit-box-shadow: 10px 10px 5px #ccc;
	box-shadow: 10px 10px 5px #ccc;
	height: 20px;
	border: 1px #ccc solid;
	max-width: 140px;
	height: 90px
}

.close-x {
	float: right;
	align-items: right;
	color: #666;
	padding-right: 4px;
	font-size: 12px;
	z-index: 999;
}

.config-x {
	float: right;
	color: #666;
	padding-right: 4px;
	font-size: 16px;
	z-index: 999;
}

.blink {
    -webkit-animation: blink 4s infinite both;
            animation: blink 4s infinite both;
}



@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.desaturate {
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
          /*  filter: brightness(90%); */
          opacity: .5;   
}

.overlay {
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /*   IE 8 */
     filter: alpha(opacity=50);  /* IE 5-7 */
     -moz-opacity: 0.5;          /* Netscape */
     -khtml-opacity: 0.5;        /* Safari 1.x */
     opacity: 0.5; 
     position:absolute;
     top:0;
     left:0;
     height:100%;
     width:100%;
     background-color:grey;
     z-index:9998;
}

.custom-menu {
    display: none;
    z-index: 3000;
    position: absolute;
    overflow: auto;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    	-moz-box-shadow: 10px 10px 5px #ccc;
	-webkit-box-shadow: 10px 10px 5px #ccc;
	box-shadow: 10px 10px 5px #ccc;
}

i {
	padding-right: 3px;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}